.to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: none;
    opacity: .5;
}

body.env-dev .to-top {
    bottom: 51px;
}

.to-top._show {
    display: block;
}

.text-word {
    cursor: pointer;
}
